<div style="background-color: lightpink; height: 150px;">
    <h4>Portfolio data area mock</h4>
    <div class="row">
        <div class="col">
            <button class="btn btn-success btn-lg">
                Total Balance: {{addedCoinsAndTrans | totalBalance | currency }}
            </button>
        </div>
        <div class="col">
            <button class="btn btn-success btn-lg">
                24h change: {{portfolioChange24h | currency}}
            </button>
        </div>
        <div class="col">
            <button class="btn btn-success btn-lg">
                Profit: {{addedCoinsAndTrans | totalProfitLoss | currency}}
            </button>
        </div>        
    </div>
</div> 
