<h3>LOGO</h3>
<hr>
<br> <br>

<div class="container">
    <!-- Mock -->
<div style="background-color: lightpink; height: 150px;">
    Total balance, 24% change, Total
</div> 
<br>
<div style="background-color: lime; height: 450px;">
    GRAPHS AREA
</div> 
<br>
<!-- End of mock -->

<div>
    <input [(ngModel)]="coinIdToAdd" type="text" name="idCoinToAdd" placeholder="type token you want to track">
    <button (click)="onCoinAdd()" type="button">Add coin</button>
</div> 
<br>
 
<!-- Crypto cards area -->
<app-card-area [addedCoins]="addedCoins"></app-card-area>



<br>

<!-- Crypto coin table area -->
<app-coin-table [addedCoins]="addedCoins"></app-coin-table>
<br>
<br>
<br>
</div>

