<h3>LOGO</h3>
<hr>
<br> <br>

<div class="container">
    <!-- Mock -->

<!-- portfolio numbers mock -->
<div style="background-color: lightpink; height: 150px;">
    <h4>Portfolio data area mock</h4>
    <div class="row">
        <div class="col">
            <button class="btn btn-success btn-lg">
                Total: $3400
            </button>
        </div>
        <div class="col">
            <button class="btn btn-success btn-lg">
                24 change: $230
            </button>
        </div>
        <div class="col">
            <button class="btn btn-success btn-lg">
                Profit: $1670
            </button>
        </div>
    </div>
</div> 
<br>

<!-- graph moch -->
<div style="background-color: goldenrod; height: 450px;">
    <h4>Graph area mock</h4>
    <div class="row">
        <div class="col">
            <img src="../../../../assets/images/circleGraph.PNG" alt="">
        </div>
        <div class="col">
            <img src="../../../../assets/images/lineGraph.PNG" alt="">
        </div>
    </div>
</div> 
<br>
<!-- End of mock -->

<!-- Add coin area -->
<br>
<app-add-coin-modal></app-add-coin-modal>
 
<!-- Crypto cards area -->
<app-card-area [addedCoins]="addedCoins"></app-card-area>



<br>

<!-- Crypto coin table area -->
<app-coin-table [addedCoinsAndTrans]="addedCoinsAndTransactionsData"></app-coin-table>
<br>
<br>
<br>
</div>

