<h3>LOGO</h3>
<hr>
<br> <br>

<div class="container">
    <!-- Mock -->

<!-- portfolio numbers mock -->
<app-portfolio-overview [addedCoinsAndTrans]="addedCoinsAndTransactionsData"></app-portfolio-overview>
<br>

<!-- graph moch -->
<div style="background-color: goldenrod; height: 450px;">
    <h4>Graph area mock</h4>
    <div class="row">
        <div class="col">
            <img src="../../../../assets/images/circleGraph.PNG" alt="">
        </div>
        <div class="col">
            <img src="../../../../assets/images/lineGraph.PNG" alt="">
        </div>
    </div>
</div> 
<br>
<!-- End of mock -->

<!-- Add coin area -->
<br>
<app-add-coin-modal></app-add-coin-modal>
 
<!-- Crypto cards area -->
<app-card-area [addedCoinsAndTrans]="addedCoinsAndTransactionsData"></app-card-area>

<br> <br>
<div class="row">
    <div class="col">
        <button (click)="changeCurrentPriceETH()" class="btn btn-danger">
            Change current price eth
        </button>
    </div>
    <div class="col">
        <button (click)="add1ETHHolding()" class="btn btn-danger">
            Add 1 ETH holding
        </button>
    </div>
    <div (click)="addNewCoinTrans()" class="col">
        <button class="btn btn-danger">
            Add new coin and trans
        </button>
    </div>
</div>
<br><br>

<!-- Crypto coin table area -->
<app-coin-table [addedCoinsAndTrans]="addedCoinsAndTransactionsData"></app-coin-table>
<br>
<br>
<br>
</div>

