
<div class="coin-card" *ngIf="addedCoinAndTrans">
    <h3>{{addedCoinAndTrans.name}}</h3>
    <h4>{{addedCoinAndTrans.currentPriceUsd | currency}}</h4>
    <img src="{{addedCoinAndTrans.smallImage}}" alt="">
    <div>Market cap: <b>$105,415,925,406</b></div>
    <div>24h change: <b>{{addedCoinAndTrans.priceChange24hPercentage}}%</b></div>
    <div>7d change: <b>{{addedCoinAndTrans.priceChange7dPercentage}}%</b></div>
    <br>
    <img src="../../../../assets/images/plusGraph.PNG" alt="">
    <div><b>30 days</b></div>
</div>
<br>