<div class="stats-wrapper">
    <div>
        <div appChangeRedGreen>{{coinsWithTransList | totalBalance | currency}}</div>
        <div>Total Balance</div>
    </div>
    <div>
        <div>{{coinsWithTransList | change24h | currency}}</div>
        <div>24h Change 
            <span [ngClass]="coinsWithTransList | change24hPercentage | plusMinus">
                ({{coinsWithTransList | change24hPercentage}}%)
            </span> 
        </div>
    </div>
    <div>
        <div>{{coinsWithTransList | totalProfitLoss | currency}}</div>
        <div>Total Profit Loss 
            <span [ngClass]="coinsWithTransList | totalProfitLossPercentage | plusMinus">
                ({{coinsWithTransList | totalProfitLossPercentage}}%)
            </span>
        </div>
    </div>
</div>

