.stats-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.stats-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    width: 220px;
    height: 120px;
    text-align: center;
    border-radius: 16px;
} 

.stats-card-amount{
    font-size: 25px;
}

.stats-card-details{
    font-size: 17px;
}

.plusPercentage{
    color: #4EAF0A;
}

.minusPercentage{
    color: #E15241;
}