<div class="stats-wrapper">
    <div>
        <div appChangeRedGreen>{{coinsWithTransList | totalBalance | currency}}</div>
        <div>Total Balance</div>
    </div>
    <div>
        <div>{{coinsWithTransList | change24h | currency}}</div>
        <div>24h Change ({{coinsWithTransList | change24hPercentage}}%)</div>
    </div>
    <div>
        <div>{{coinsWithTransList | totalProfitLoss | currency}}</div>
        <div>Total Profit Loss ({{coinsWithTransList | totalProfitLossPercentage}}%)</div>
    </div>
</div>