<div style="background-color: lightseagreen; min-height: 350px;">
    <table *ngIf="addedCoins.length > 0" id="cryptos-table" style="border: black solid 1px; width: 100%; border-collapse: collapse;">
        <tr>
            <th>#</th>
            <th>Coin</th>
            <th>Tag</th>
            <th>Price</th>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>24h Volume</th>
            <th>Market Cap</th>
            <th>Last 7 days - graph</th>
            <th></th>
        </tr>
        <tr *ngFor="let coin of addedCoins; let i = index">
            <td>{{i}}</td>
            <td>{{coin.name}}</td>
            <td>{{coin.symbol}}</td>
            <td>{{coin.market_data.current_price.usd}}</td>
            <td>nemam ovo</td>
            <td>{{coin.market_data.price_change_percentage_24h}}</td>
            <td>{{coin.market_data.price_change_percentage_7d}}</td>
            <td>$105,415,925,406 (fix)</td>
            <td>$40,410,381,446 (fix)</td>
            <td>Crveno/zeleni graf</td>
            <td><button>+</button></td>
        </tr>
    </table>
</div>
