<div style="background-color: lightseagreen; min-height: 350px;">
    <table id="cryptos-table" style="border: black solid 1px; width: 100%; border-collapse: collapse;">
        <tr>
            <th>#</th>
            <th>Coin</th>
            <th>Tag</th>
            <th>Price</th>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>24h Volume</th>
            <th>Market Cap</th>
            <th>Last 7 days - graph</th>
            <th></th>
        </tr>
        <tr>
            <td>3</td>
            <td>Tether</td>
            <td>USDT</td>
            <td>$1.00</td>
            <td>-0.5%</td>
            <td>-0.2%</td>
            <td>-0.8%</td>
            <td>$105,415,925,406</td>
            <td>$40,410,381,446</td>
            <td>Crveno/zeleni graf</td>
            <td><button>+</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tether</td>
            <td>USDT</td>
            <td>$1.00</td>
            <td>-0.5%</td>
            <td>-0.2%</td>
            <td>-0.8%</td>
            <td>$105,415,925,406</td>
            <td>$40,410,381,446</td>
            <td>Crveno/zeleni graf</td>
            <td><button>+</button></td>
        </tr>
    </table>
</div>
