<div>
    <h2>Ethereum</h2>
    <h3>$2,345.40 - -2.3%</h3>
    <br>

    <h4>Transactions</h4>
    <br>

    <table>
        <tr>
            <th>Type</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Fees</th>
            <th>Cost</th>
            <th>Proceeds</th>
            <th>PNL</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Sell</td>
            <td>$2050</td>
            <td>0.9</td>
            <td>09 Apr 2021 10:32 PM UTC</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$744.00</td>
            <td>+$215.30</td>
            <td>First cryptocurrency ever</td>
            <td>U D</td>
        </tr>
    </table>

    <button class="btn btn-success">+ Add Transaction</button>
</div>
