<!-- sidebar -->
<div class="navigation">
    <ul>
        <li>
            <a [routerLink]="['/portfolio/coin-table']">
                <span class="icon"><i class="fa fa-list-alt"></i></span>
                <span class="title">Tables</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/portfolio/coin-cards']">
                <span class="icon"><i class="fa fa-table"></i></span>
                <span class="title">Cards</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/portfolio/coin-graphs']">
                <span class="icon"><i class="fa fa-table"></i></span>
                <span class="title">Charts</span>
            </a>
        </li>
        <li>
            <a (click)="onLogout()">
                <span class="icon"><i class="fa fa-table"></i></span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</div>

<!-- hamburger button -->
<div onclick="togleHamburger()" class="toggle"></div>