<div class="navigation-container">
    <div>
        <button [routerLink]="['/portfolio/coin-cards']" class="btn btn-danger">Coin Cards</button>
    </div>
    <div>
        <button [routerLink]="['/portfolio/coin-table']" class="btn btn-danger">Coin table</button>
    </div>
    <br>
    <div>
        <button [routerLink]="['/auth/login']" class="btn btn-primary">Auth</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="onLogout()">Logout</button>
    </div>

</div>